/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body element */
body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* Clearfix class */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Styling image */
img {
  cursor: pointer;
}

/* Image box stylling */
.product-img {
  margin-right: 40px;
}

/* Product */
.product {
  border: 5px solid black;
  width: 1200px;
  margin: 150px auto;
  position: relative;
}

/* Product Title */
.product-title {
  /* background-color: #f7f7f7; */
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px;
  border: none;
  /* cursor: pointer; */
  width: 100%;
  border-bottom: 4px solid black;
}

/* Product Information box */
.product-info {
  margin-right: 40px;
  margin-top: 20px;
}

/* Main image */
.main-img {
  border: 2px solid black;
  margin-left: 15px;
  margin-top: 20px;
}

/* Secondary Images */
.secondary-img {
  border: 2px solid black;
  margin: 15px;
}

/* Images hover effect */
#wrap img {
  -webkit-transition: 400ms ease 100ms;
  -moz-transition: 400ms ease 100ms;
  transition: 400ms ease 100ms;
}

#wrap:hover img:not(:hover) {
  filter: blur(3px);
}

/* Images section margin styling */
#wrap {
  margin-left: 10px;
  display: inline-block;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Price styling */
.price {
  font-size: 24px;
}

/* Paragraph Styling */
p {
  margin-bottom: 20px;
}

/* Shipping styling */
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

/* Sale styling */
.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

/* Nike Logo */
.puma {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  height: 300px;
  top: -140px;
  left: 890px;
  pointer-events: none;
}
.puma img:not(.description) {
  pointer-events: initial;
}

/* Product Description */
.product-description {
  margin-bottom: 10px;
  text-align: justify;
}

/* Features and Benefits */
.features {
  margin-top: 20px;
}
.features > ul {
  margin-top: 10px;
  list-style: square;
  margin-left: 25px;
  margin-right: 20px;
}
.features > ul > li {
  margin-bottom: 10px;
  text-align: left;
}

/* More-info link styling */
.more-info:link,
.more-info:visited {
  color: black;

  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* Color box styling */
.product-colors {
  display: flex;
  gap: 20px;
}
.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  border: 1px solid black;
  margin-top: 10px;
  cursor: pointer;
}
.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}

/* Zoom colors and size on hover */
.zoom:hover {
  transform: scale(1.5);
}

/* Size box styling */
.product-size {
  display: flex;
  /* justify-content: ; */
  gap: 10px;
}
.size {
  background-color: rgb(248, 243, 243);
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 4px;
  margin-top: 10px;
  cursor: pointer;
}
.col-size-heading {
  margin-top: 23px;
}

/* Product details title */
.details-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Product details list */
.details-list {
  list-style: square;
  margin-left: 25px;
  margin-right: 30px;
}

/* Product details list items styling */
.details-list li {
  margin-bottom: 10px;
  text-align: left;
}

/* Buy now button styling */
.buy-now {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.buy-now:link {
  color: white;
}
.buy-now:visited {
  color: black;
}
.buy-now:hover {
  color: #000;
  background-color: #fff;
}

/* CSS GRID */
/* Product Styling */
.product-styling {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.8fr;
}
/* Product Title */
.product-title {
  grid-column: 1/-1;
}
/* Product details */
.product-details {
  margin-top: 20px;
}
/* Buy Now button */
.buy-now-class {
  /* margin-top: 20px; */
  grid-column: 1/-1;
}
